.navbar {
	margin-bottom: 0;
}

.navbar-right {
	padding-right: 30%;
}

.navbar-nav > li{
  margin-left: 35px;
  margin-right: 35px;
}

.navbar {
	   background-color: grey ;
}

ul.nav li a, ul.nav li a:visited {
    color: black !important;
}
